<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite"
			     description=".NET Framework Data Provider for SQLite"
			     type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
			<remove invariant="System.Data.SqlClient" />
			<add name="SqlClient Data Provider"
			     invariant="System.Data.SqlClient"
			     description=".Net Framework Data Provider for SqlServer"
			     type="System.Data.SqlClient.SqlClientFactory, System.Data,   
     Version=4.2.0.0, Culture=neutral" />
		</DbProviderFactories>
	</system.data>
</configuration>